@import "tailwindcss";

@theme {
  --color-verde-200: #acef75;
  --color-verde-300: #91ee77;
  --color-verde-400: #17e880;
  --color-verde-700: #2e482c;
  --color-verde-800: #16281f;
  --color-verde-900: #0f1c15;
  --color-verde-950: #030504;
}
@layer utilities {
  .container {
    @apply max-w-[94rem] max-2xl:px-20;
  }
}
@layer components {
  .neon {
    @apply border border-verde-400  shadow-[0_0_4px_1px_var(--color-verde-300)] rounded-full;
  }
}
